extends layout

block content
    a(href="/")= 'Go Back'
    h2= 'Create your message'
    form(method="POST" action="/new")
        label= "Your name"
        input(name="text" type="text")
        label= "Your message"
        input(name="user" type="text")
        button(type='submit')= "Add Message"
