extends layout

block content
  div.container
    h1= 'Mini Messaging Board'
    ul
      each message, index in messages
        li(style=`--delay:${index + 1}`)
          div
            p= message.user
            p= '- ' + message.added
          p= message.text
  a(href="/new" class="form-link")= 'Create New Message >'